body {
    background-image: linear-gradient(to right top, #c4c1c2, #bfb3b7, #b9a5ac, #b397a2, #ad8998, #b18396, #b67d94, #ba7691, #cb7593, #dd7394, #ee7193, #ff6f91);
    max-width: 1000px;
    margin: auto;
}

.cabecalho {
    padding-top: 15px;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}
.cabecalho img{
    border: 2px;
    border-style: solid;
    border-color: crimson;
    border-radius: 50%;
    width: 200px;
    
}
.cabecalho h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: black;
}

.conteudo h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.conteudo ul{
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.foto_comida {
    width: 100%;
}

.redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
}

.redes img {
    width: 200px
}

a {
    text-decoration: none;
    color: black;
}

.rodape h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}